@use "./variables" as *;

body {
  .decimal-buttons {
    position: relative;
    bottom: 0;
    left: 0;

    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .decimal-buttons__container {
      display: flex;
      justify-content: center;
      align-items: center;

      .decimal-buttons__button {
        margin: 5px; // Make final decision
      }
    }
  }

  .calculator {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(37.5%, auto) repeat(5, 12.5%);

    gap: $gap;

    width: 80%;
    min-height: 24rem;
    max-width: 502px;
    min-width: 12.5rem;

    .calculator__display {
      grid-column: span 4;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: end;
    }

    .button-wrapper {
      min-width: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      .interface__button--operator,
      .interface__button--number {
        aspect-ratio: 1 / 1;
      }
    }

    .grid-two {
      grid-column: span 2;
    }

    position: relative;

    .additional {
      position: absolute;

      min-height: $additional-height;

      right: 0;
      bottom: 0;
      transform: translateY(90%);
    }

    .hide-additional {
      display: none;
    }
  }

  .additional-buttons {
    position: relative;
    margin-top: 1rem;

    display: none;
    flex-direction: column;

    .button-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      .additional-buttons__button {
        width: 95%;
        height: 95%;
        padding: 10px;
      }

      .additional-buttons__button:hover {
        cursor: pointer;
      }
    }

    .close-additional-buttons {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translateY(95%);
    }
  }

  .show-additional-buttons {
    display: flex;
  }
}
