@use './variables' as *;

body {
    .calculator {
        display: grid;
        justify-content: center;
        align-content: center;

        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: minmax(7.5rem, auto) repeat(5, 3.125rem);

        min-height: 24.125rem;
        min-width: 12.5rem;

        .calculator__display {
            grid-column: span 4;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: end;
        }

        .grid-two {
            grid-column: span 2;
        }
    }
}