// Fonts
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@400;700&display=swap");

$display-font: "Orbitron", sans-serif;
$interface-font: "Red Hat Mono", monospace;

// Font sizes
$input-font: 1rem;
$output-font: 2rem;

$input-font-medium: 1.5rem;
$output-font-medium: 3rem;

$input-font-large: 2rem;
$output-font-large: 4rem;

$small-font: 1.2rem;
$tablet-font: 2rem;
// $big-font:

// Colours

$black: #212121;
$background-blue: #1c2246;
$calculator-color: #c2c2b5;
$text-orange: #ea9929;
$text-grey: #c4c4c4;
$alert-red: #d14d35;
$additional-orange: #df8742;

// Margins and Padding

$margin: 1rem;
$padding: 0.5rem;

$button-padding: 0.01rem;

// Miscelanious

$added-button-side: 2.5rem;
$additional-height: 1.2rem;
$border-radius: 0.75rem;
$gap: 0.125rem;
